<p class="alert alert-warning">This is a warning message!</p>
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-5">-->
<!--      <p class="label label-default">This is a success alert in warning alert. Weird huh?</p>-->
<!--      <app-success-alert></app-success-alert>-->
<!--    </div>-->
<!--    <div class="col-xs-7">-->
<!--      <p class="label label-default">This is a success alert in warning alert. Weird huh?</p>-->
<!--      <app-success-alert class="success-with-class"></app-success-alert>-->
<!--    </div>-->
<!--    <div class="col-xs-12">-->
<!--      <p class="label label-default">This is a success alert in warning alert. Weird huh?</p>-->
<!--      <app-success-alert></app-success-alert>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
